*.iml
.idea/
target/
*.jar
*.war
*.zip
*.tar.gz
*.log
ERRORS.md
terraform.tfstate
terraform.tfstate.backup
.terraform/
shopcloud-infra/.terraform/
shopcloud-infra/terraform.tfstate
shopcloud-infra/terraform.tfstate.backup
*.hcl
*.md