*.iml
.idea/
target/
*.jar
*.war
*.zip
*.tar.gz
*.log
ERRORS.md
terraform.tfstate
terraform.tfstate.backup
.terraform/
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
*.hcl
*.md