apiVersion: v1
kind: Service
metadata:
  name: config-server
  labels:
    app: config-server
spec:
  selector:
    app: config-server
  ports:
        - port: 8080
      targetPort: 8080
  type: ClusterIP