name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push config-server
        uses: docker/build-push-action@v6
        with:
          context: ./cloud/cloud-config-server
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cloud-config-server:latest

      - name: Build and push hello-service
        uses: docker/build-push-action@v6
        with:
          context: ./cloud/cloud-hello-service
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cloud-hello-service:latest
